@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<strong><h4>@ViewData["Message"]</h4></strong>
    @if (ViewData["Color"] != null)
    {
     
        <ol>
            @foreach(string c in (IEnumerable<string>)ViewData["Color"])
    {
            <li>@c</li> 
    }
</ol>
    }